/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/

@import url('https://fonts.googleapis.com/css?family=ABeeZee|Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
* {
    box-sizing: border-box;
    /*font-family: "Noto Sans TC", "sans-serif", "黑体";*/
}

body {
    margin: 0;
    padding: 0;
}


/*設置超鏈接狀態*/

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}


/*header的盒子*/

.container-head {
    width: 100%;
    margin: 0 auto;
    position: static;
    /*position: fixed;*/
}

.nav {
    width: 100%;
    height: 90px;
    background-color: rgba(231, 147, 103, 1);
    position: static;
}


/*頭像區域：頭像超鏈接+右邊文字*/

.touxiang {
    width: 400px;
    height: 100px;
    /*border: 1px solid black;*/
    float: left;
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: 'Cormorant Garamond', serif;
}


/*頭像圖片超鏈接*/

.fbtouxiang {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-image: url(touxiang.jpg);
    background-size: 100%;
    border-radius: 50%;
}

.fbtouxiang:after {
    content: "";
    border-radius: 50%;
    display: block;
    width: 75px;
    height: 75px;
    display: block;
    background: rgba(0, 0, 0, 0.2);
}


/*頭像右邊文字*/

.fbtouxiang-text {
    position: absolute;
    font-family: 'Cormorant Garamond', serif;
    top: 45px;
    left: 26px;
    /*border: 1px solid white;*/
    width: 230px;
    text-align: center;
    font-size: 1.6em;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    /*display: none;*/
    opacity: 0;
    transition: opacity 1s;
    background: rgba(255, 255, 255, 0.3)；
}

.fbtouxiang:hover+.fbtouxiang-text {
    opacity: 1;
}

.fbtouxiang:hover:after {
    display: none;
}


/*na2區域劃分*/

.nav2 {
    width: 300px;
    height: 100px;
    /*border: 1px solid black;*/
    /*position: absolute;
    left: 1002px;
    top: 17px;*/
    color: white;
    font-weight: bold;
    float: right;
}

.index {
    position: absolute;
    top: 50px;
}


/*設置float*/

.index>li {
    float: left;
}

.nav2 ul {
    margin: 0;
    padding: 0;
}


/*設置首頁和地點區域*/

.shouye {
    width: 150px;
    font-family: 'Cormorant Garamond', serif;
    /*border: 1px solid white;*/
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.6em;
    /*background: rgba(255, 255, 255, 0.3);*/
}

.didian {
    /*background: rgba(255, 255, 255, 0.3);*/
    width: 150px;
    font-family: 'Cormorant Garamond', serif;
    /*border: 1px solid white;*/
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.6em;
}


/*鼠標沒移動時的子nav*/

.index .grid {
    /*border: 1px solid black;*/
    display: none;
}


/*鼠標移動時的子nav*/

.didian:hover .grid {
    display: block;
}


/*子导览*/

.li1 {
    /*border: 1px solid black;*/
    width: 150px;
    height: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid white;
    list-style-type: none;
    font-size: 0.8em;
}

.li2 {
    /*border: 1px solid black;*/
    width: 150px;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid white;
    font-size: 0.8em;
}

.li3 {
    /*border: 1px solid black;*/
    width: 150px;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid white;
    font-size: 0.8em;
}


/*section1*/

.three {
    background: white;
    /*    padding: 21px;*/
    /*    margin-bottom: 30px;*/
}

#slideshow {
    /*    border: 1px solid black;*/
}

.carousel-img {
    text-align: center;
}

.carousel-h {
    text-align: center;
    font-size: 2em;
    font-family: 'ABeeZee', sans-serif;
    padding-bottom: 30px;
    padding-top: 20px;
    color: rgba(143, 166, 112, 1);
}

.carousel-p {
    text-align: center;
    font-size: 1.2em;
    font-family: 'ABeeZee', sans-serif;
    color: rgba(143, 166, 112, 0.8);
}


/*section1的盒子*/

.container-section1 {
    height: 575px;
    width: 100%;
    margin: 0 auto;
    background-image: url("../image/beijing.jpg");
    background-size: cover;
    position: static;
    background-repeat: no-repeat;
    background-position: 0, -10px;
    /*border: 1px solid black;*/
    /*background: black;*/
}

h1 {
    font-size: 3em;
    font-family: 'ABeeZee', sans-serif;
    /*font-family: 'Cormorant Garamond', serif;*/
    color: white;
    position: absolute;
    left: 20px;
    top: 100px;
}

.shuoming {
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-style: bold;
    font-size: 1.4em;
    color: white;
    position: absolute;
    left: 28px;
    top: 160px;
}

.rili {
    width: 500px;
    height: 400px;
    border: 1px solid rgba(255, 255, 255, 0);
    /*position: absolute;
    left: 20px;
    top: 170px;*/
    float: left;
    margin-top: 120px;
    margin-left: 20px;
    background-image: url("../image/rili2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.75;
}

.rili:hover {
    width: 500px;
    height: 400px;
    /*border: 1px solid white;*/
    /*position: absolute;
    left: 20px;
    top: 170px;*/
    float: left;
    margin-top: 120px;
    margin-left: 20px;
    background-image: url("../image/rili3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.75;
}


/*展示区*/

.two {
    padding: 30px 0;
    background: rgba(239, 203, 118, 0.4);
    /*    border: 1px solid black;*/
    margin: 0;
}

.section-box p {
    color: white;
}

.section-box {
    width: 100%;
    border: 1px solid rgba(231, 147, 103, .9);
    background: rgba(231, 147, 103, .9);
    padding: 15px;
    border-radius: 15px;
}

.section-box-img {
    width: 100%;
}

.section-box-img1 {
    width: 100%;
    border-radius: 50%;
    display: block;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.section-box-img1:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.section-box-img2 {
    width: 100%;
    border-radius: 50%;
    display: block;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.section-box-img2:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.section-box-img3 {
    width: 100%;
    border-radius: 50%;
    display: block;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.section-box-img3:hover {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.section-box-icon {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.8em;
    color: white;
    /*font-style: bold;*/
}

.section-box p {
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.2em;
}

.project {
    border: 1px solid black;
}


/*.project1 {
    margin: 1px;
    border: 1px solid black;
}*/


/*设置section2的背景颜色*/

footer {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Cormorant Garamond";
    border: 5px solid rgba(231, 147, 103, 1);
    background: rgba(231, 147, 103, 1);
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
