.table li ul {
    border: 1px solid black;
    display: none;
}

.daolan1:hover .zitable {
    border: 1px solid black;
    display: block;
}

.daolan2:hover .zizitable {
    border: 1px solid black;
    display: block;
}

.daolan3:hover {
    border: 1px solid black;
}

.table>li {
    border: 1px solid yellow;
    height: 60px;
    line-height: 60px;
    width: 100px;
}

.testa {
    display: block;
    weight: 1000px;
    height: 1000px;
    background-image: url("./iphone.jpg");
    background-size: 100%;
    line-height: 1000px;
    text-align: center;
}

.testa:hover {
    background-image: url("./image/cbddb464034f78f0b0abf0bc7b310a55b2191c88.jpg")
}