@import url('https://fonts.googleapis.com/css?family=ABeeZee|Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
.p1 {
    text-align: left;
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    /*font-weight: bold;*/
    color: rgba(72, 115, 96, 1);
    padding-bottom: 10px;
    padding-left: 15px;
}

.aboutme {
    width: 100%;
    overflow: auto;
    border: 3px solid white;
    background: white;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
}

.aboutme-img1 {
    /*border-radius: 20px;*/
    /*border: 1px solid rgba(143, 162, 116, 1);*/
    float: left;
    padding: 15px;
}

section {
    background: rgba(239, 203, 118, 0.5)
}

.aboutme-p {
    padding: 15px;
    font-size: 'ABeeZee', sans-serif;
    font-size: 1.2em;
    color: rgba(30, 30, 30, 1)
}

.row {
    padding-bottom: 15px;
}